.App{ 
  display: grid; 
  grid-template-areas: 'header header'
                        'side wrapper'  
                        'footer footer'; 
  grid-template-columns: 2fr 10fr;  
  gap: 25px;
} 
.wrapper{ 
  grid-area: wrapper; 
  
} 
.users_url{ 
  width:50px
}